@font-face {
   font-family: 'FontsFree-Net-Akira-Expanded-Demo';
   font-display: swap;
   src: url('file:///C:/Users/merye/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-12-29_151440/fonts/FontsFree-Net-Akira-Expanded-Demo/font.ttf');
}
